body {
 text-align: center;
 background-color:rgb(117, 167, 211);
 /*border: 15px solid; */

}

 .Sandwhiches {
     text-align: center;
     border: 10px solid;
     margin: 5px;
     margin-top: 15px;
     padding: 10px;
     width: 100px;
     height: 100px;
     color: black;
     
}
