 header {
     text-align:center;
}

nav {
   display:grid;
   grid-template-columns: 3,1fr;
   background-color: rgb(117, 167, 211);
   padding: 10px;
}

nav ul {
    list-style-type: none; /* I searched this up but this is to remove the bullet points */  
    display: contents;
    
}

nav ul li {
    text-align: center; /* will center the text in each link */
}

nav ul li a {
    font-family: 'Markazi Text' , serif;
    font-weight: bold;
    color: white;  
} 


 body {
   font-family: Arial, sans-serif;
}

p {
   line-height: 1.6;
   margin-bottom: 1em; 
}



.container {  
    display: flex;  
    justify-content: space-between; /* Spaces the items evenly */  
    padding: 10px; /* Optional: adds some padding around the container */  
}  

#HomeGrid {
	display:grid;
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 1fr 1fr;

}

 .styled-quote{
   font-family: 'Cardo', sans-serif;
   background-color:rgb(117, 167, 211);
   height:120px;
   margin:5px;
   margin-top:15px;
   border:5px solid;
   padding-top:2px;
   padding-left:15px;
   padding-right:5px;
   padding-bottom:14px;
   
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:2;	

}



 .styled-projects {
  height:120px;
  margin:1px;
  margin-top:15px;
 /* margin-left:725px;*/
  border:5px solid;
  padding-top:2px;
  padding-left:15px;
  padding-right:5px;
  padding-bottom:14px;


	grid-row-start:2;
	grid-row-end:2;
	grid-column-start:2;
	grid-column-end:3;  
}
