 header {
     text-align:center;
}


 body {
   font-family: Arial, sans-serif;
}


 .styled-quote{
   background-color:rgb(117, 167, 211);
   width:290px;
   height:85px;
   margin:5px;
   margin-top:15px;
   border:5px solid;
   padding-top:2px;
   padding-left:15px;
   padding-right:5px;
   padding-bottom:5px;
   
    
    
}
